USE [master]
GO
/****** Object:  Database [datakimhoan]    Script Date: 12/17/2021 9:36:45 PM ******/
CREATE DATABASE [datakimhoan]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'datakimhoan', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\datakimhoan.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'datakimhoan_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\datakimhoan_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [datakimhoan].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [datakimhoan]
GO
USE [datakimhoan]
GO
/****** Object:  Table [dbo].[CHI_TIET_DATHANG]    Script Date: 12/17/2021 9:36:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHI_TIET_DATHANG](
	[MA_SAN_PHAM] [int] NOT NULL,
	[MA_DATHANG] [int] NOT NULL,
	[SO_LUONG] [int] NULL,
	[GHI_CHU] [nvarchar](500) NULL,
	[SIZE] [int] NOT NULL,
	[GIA] [money] NULL,
 CONSTRAINT [PK_CHI_TIET_DATHANG] PRIMARY KEY CLUSTERED 
(
	[MA_SAN_PHAM] ASC,
	[MA_DATHANG] ASC,
	[SIZE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHI_TIET_DICH_VU]    Script Date: 12/17/2021 9:36:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHI_TIET_DICH_VU](
	[MA_HD] [int] NOT NULL,
	[MA_DICH_VU] [int] NOT NULL,
	[NGAY_SD] [date] NOT NULL,
 CONSTRAINT [PK_CHI_TIET_DICH_VU] PRIMARY KEY CLUSTERED 
(
	[MA_HD] ASC,
	[MA_DICH_VU] ASC,
	[NGAY_SD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHI_TIET_GIAN_GIA]    Script Date: 12/17/2021 9:36:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHI_TIET_GIAN_GIA](
	[MA_HANG] [nchar](10) NOT NULL,
	[MA_GIAM] [nchar](10) NOT NULL,
	[PHAN_TRAM_GIAM] [int] NULL,
 CONSTRAINT [PK_CHI_TIET_GIAN_GIA] PRIMARY KEY CLUSTERED 
(
	[MA_HANG] ASC,
	[MA_GIAM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHI_TIET_HOA_DON]    Script Date: 12/17/2021 9:36:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHI_TIET_HOA_DON](
	[MA_SAN_PHAM] [int] NOT NULL,
	[MA_HOA_DON] [int] NOT NULL,
	[SO_LUONG] [int] NULL,
	[GHI_CHU] [nvarchar](500) NULL,
	[SIZE] [int] NULL,
	[GIA] [money] NULL,
	[KHAU_TRU] [int] NULL,
 CONSTRAINT [PK_CHI_TIET_HOA_DON] PRIMARY KEY CLUSTERED 
(
	[MA_SAN_PHAM] ASC,
	[MA_HOA_DON] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHI_TIET_SAN_PHAM]    Script Date: 12/17/2021 9:36:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHI_TIET_SAN_PHAM](
	[MA_SP] [int] IDENTITY(1,1) NOT NULL,
	[TEN_SP] [nchar](10) NULL,
	[MA_LOAI] [nchar](10) NULL,
	[MO_TA] [nchar](1000) NULL,
	[ANH] [char](1000) NULL,
 CONSTRAINT [PK_CHI_TIET_SAN_PHAM] PRIMARY KEY CLUSTERED 
(
	[MA_SP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHI_TIET_SIZE_SP]    Script Date: 12/17/2021 9:36:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHI_TIET_SIZE_SP](
	[MA_SP] [int] NOT NULL,
	[SIZE] [int] NOT NULL,
	[GIA] [money] NULL,
	[SO_LUONG] [int] NULL,
 CONSTRAINT [PK_CHI_TIET_SIZE_SP] PRIMARY KEY CLUSTERED 
(
	[MA_SP] ASC,
	[SIZE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DANH_GIA]    Script Date: 12/17/2021 9:36:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DANH_GIA](
	[MA_KHACH_HANG] [nchar](10) NOT NULL,
	[MA_SP] [int] NOT NULL,
	[DANH_GIA] [nvarchar](1000) NOT NULL,
	[DIEM_DANH_GIA] [int] NOT NULL,
	[MA_HD] [int] NULL,
 CONSTRAINT [PK_DANH_GIA] PRIMARY KEY CLUSTERED 
(
	[MA_KHACH_HANG] ASC,
	[MA_SP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DICH_VU]    Script Date: 12/17/2021 9:36:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DICH_VU](
	[MA_DICH_VU] [int] NOT NULL,
	[TEN_DICH_VU] [nchar](100) NULL,
 CONSTRAINT [PK_DICH_VU] PRIMARY KEY CLUSTERED 
(
	[MA_DICH_VU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DON_DATHANG]    Script Date: 12/17/2021 9:36:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DON_DATHANG](
	[MA_DH] [int] IDENTITY(1,1) NOT NULL,
	[MA_GIAM_GIA] [nchar](10) NULL,
	[MA_KHACH_HANG] [nchar](10) NOT NULL,
	[PHUONG_THUC] [bit] NULL,
	[NGAY] [date] NOT NULL,
	[DIA_CHI] [nvarchar](200) NOT NULL,
 CONSTRAINT [PK_DON_DATHANG] PRIMARY KEY CLUSTERED 
(
	[MA_DH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOA_DON]    Script Date: 12/17/2021 9:36:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOA_DON](
	[MA_NV] [nchar](10) NOT NULL,
	[NGAY] [date] NOT NULL,
	[MA_HD] [int] IDENTITY(1,1) NOT NULL,
	[MA_GIAM_GIA] [nchar](10) NULL,
	[MA_KHACH_HANG] [nchar](10) NOT NULL,
	[LOAI] [nchar](10) NOT NULL,
	[PHUONG_THUC] [bit] NULL,
	[MA_DH] [int] NULL,
	[TongTien] [money] NULL,
 CONSTRAINT [PK_HOA_DON] PRIMARY KEY CLUSTERED 
(
	[MA_HD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACH_HANG]    Script Date: 12/17/2021 9:36:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACH_HANG](
	[SDT] [nchar](10) NOT NULL,
	[HO_TEN] [nvarchar](100) NULL,
	[NGAY_SINH] [date] NULL,
	[DIA_CHI] [nchar](1000) NULL,
	[DANH_GIA_TIEM_NANG] [int] NULL,
	[LUU_Y] [nchar](1000) NULL,
 CONSTRAINT [PK_KHACH_HANG] PRIMARY KEY CLUSTERED 
(
	[SDT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHUYEN_MAI]    Script Date: 12/17/2021 9:36:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHUYEN_MAI](
	[MA_GIAM] [nchar](10) NOT NULL,
	[NGAY_BAT_DAU] [date] NOT NULL,
	[NGAY_KET_THUC] [date] NOT NULL,
 CONSTRAINT [PK_KHUYEN_MAI] PRIMARY KEY CLUSTERED 
(
	[MA_GIAM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAI]    Script Date: 12/17/2021 9:36:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAI](
	[MA_LOAI] [nchar](10) NOT NULL,
	[TEN_LOAI] [nchar](10) NULL,
 CONSTRAINT [PK_LOAI] PRIMARY KEY CLUSTERED 
(
	[MA_LOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHAN_VIEN]    Script Date: 12/17/2021 9:36:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHAN_VIEN](
	[SDT] [nchar](10) NOT NULL,
	[HO_TEN] [nchar](500) NOT NULL,
	[NGAY_SINH] [date] NOT NULL,
	[CMND] [nchar](10) NOT NULL,
	[EMAIL] [nchar](50) NOT NULL,
	[GIOI_TINH] [bit] NULL,
 CONSTRAINT [PK_NHAN_VIEN] PRIMARY KEY CLUSTERED 
(
	[CMND] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAI_KHOAN]    Script Date: 12/17/2021 9:36:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAI_KHOAN](
	[MA_TAI_KHOAN] [nchar](10) NOT NULL,
	[TEN_TAI_KHOAN] [nchar](30) NOT NULL,
	[MAT_KHAU] [nchar](30) NOT NULL,
 CONSTRAINT [PK_TAI_KHOAN] PRIMARY KEY CLUSTERED 
(
	[MA_TAI_KHOAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAI_KHOAN_DANG_NHAP]    Script Date: 12/17/2021 9:36:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAI_KHOAN_DANG_NHAP](
	[MA_DANG_NHAP] [nchar](10) NOT NULL,
	[MAT_KHAI] [nchar](10) NOT NULL,
	[TRANG_THAI] [bit] NOT NULL,
 CONSTRAINT [PK_TAI_KHOAN_DANG_NHAP] PRIMARY KEY CLUSTERED 
(
	[MA_DANG_NHAP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CHI_TIET_DATHANG] ([MA_SAN_PHAM], [MA_DATHANG], [SO_LUONG], [GHI_CHU], [SIZE], [GIA]) VALUES (2, 1, 1, NULL, 1, 300000.0000)
INSERT [dbo].[CHI_TIET_DATHANG] ([MA_SAN_PHAM], [MA_DATHANG], [SO_LUONG], [GHI_CHU], [SIZE], [GIA]) VALUES (2, 3, 1, NULL, 1, 4560000.0000)
INSERT [dbo].[CHI_TIET_DATHANG] ([MA_SAN_PHAM], [MA_DATHANG], [SO_LUONG], [GHI_CHU], [SIZE], [GIA]) VALUES (3, 1, 1, NULL, 1, 3456000.0000)
GO
INSERT [dbo].[CHI_TIET_HOA_DON] ([MA_SAN_PHAM], [MA_HOA_DON], [SO_LUONG], [GHI_CHU], [SIZE], [GIA], [KHAU_TRU]) VALUES (2, 3, 1, NULL, 1, 224500.0000, NULL)
INSERT [dbo].[CHI_TIET_HOA_DON] ([MA_SAN_PHAM], [MA_HOA_DON], [SO_LUONG], [GHI_CHU], [SIZE], [GIA], [KHAU_TRU]) VALUES (3, 3, 1, NULL, 1, 100000.0000, NULL)
INSERT [dbo].[CHI_TIET_HOA_DON] ([MA_SAN_PHAM], [MA_HOA_DON], [SO_LUONG], [GHI_CHU], [SIZE], [GIA], [KHAU_TRU]) VALUES (3, 4, 1, NULL, 1, 100000.0000, NULL)
GO
SET IDENTITY_INSERT [dbo].[CHI_TIET_SAN_PHAM] ON 

SET IDENTITY_INSERT [dbo].[CHI_TIET_SAN_PHAM] OFF
GO
INSERT [dbo].[CHI_TIET_SIZE_SP] ([MA_SP], [SIZE], [GIA], [SO_LUONG]) VALUES (1, 1, 123123.0000, 2)
INSERT [dbo].[CHI_TIET_SIZE_SP] ([MA_SP], [SIZE], [GIA], [SO_LUONG]) VALUES (1, 10, 100000.0000, 2)
INSERT [dbo].[CHI_TIET_SIZE_SP] ([MA_SP], [SIZE], [GIA], [SO_LUONG]) VALUES (1, 35, 240000.0000, 182)
GO
INSERT [dbo].[DANH_GIA] ([MA_KHACH_HANG], [MA_SP], [DANH_GIA], [DIEM_DANH_GIA], [MA_HD]) VALUES (N'0915760380', 3, N'Rất đẹp, rất hay', 1, NULL)
GO
INSERT [dbo].[DICH_VU] ([MA_DICH_VU], [TEN_DICH_VU]) VALUES (1, N'Đánh bóng đá                                                                                        ')
INSERT [dbo].[DICH_VU] ([MA_DICH_VU], [TEN_DICH_VU]) VALUES (2, N'Đính lại đá                                                                                         ')
INSERT [dbo].[DICH_VU] ([MA_DICH_VU], [TEN_DICH_VU]) VALUES (3, N'Đánh bóng Bạc                                                                                       ')
GO
SET IDENTITY_INSERT [dbo].[DON_DATHANG] ON 

INSERT [dbo].[DON_DATHANG] ([MA_DH], [MA_GIAM_GIA], [MA_KHACH_HANG], [PHUONG_THUC], [NGAY], [DIA_CHI]) VALUES (1, NULL, N'0943      ', 1, CAST(N'2020-12-12' AS Date), N'1')
INSERT [dbo].[DON_DATHANG] ([MA_DH], [MA_GIAM_GIA], [MA_KHACH_HANG], [PHUONG_THUC], [NGAY], [DIA_CHI]) VALUES (3, NULL, N'0943      ', 1, CAST(N'2021-10-12' AS Date), N'231')
INSERT [dbo].[DON_DATHANG] ([MA_DH], [MA_GIAM_GIA], [MA_KHACH_HANG], [PHUONG_THUC], [NGAY], [DIA_CHI]) VALUES (4, NULL, N'0943      ', 1, CAST(N'2021-11-12' AS Date), N'1')
SET IDENTITY_INSERT [dbo].[DON_DATHANG] OFF
GO
SET IDENTITY_INSERT [dbo].[HOA_DON] ON 

INSERT [dbo].[HOA_DON] ([MA_NV], [NGAY], [MA_HD], [MA_GIAM_GIA], [MA_KHACH_HANG], [LOAI], [PHUONG_THUC], [MA_DH], [TongTien]) VALUES (N'0943526733', CAST(N'2020-12-12' AS Date), 3, NULL, N'0943      ', N'Xuat      ', 1, 1, 2324500.0000)
INSERT [dbo].[HOA_DON] ([MA_NV], [NGAY], [MA_HD], [MA_GIAM_GIA], [MA_KHACH_HANG], [LOAI], [PHUONG_THUC], [MA_DH], [TongTien]) VALUES (N'0943526733', CAST(N'2021-12-17' AS Date), 4, NULL, N'0943526733', N'Xuat      ', 1, NULL, 100000.0000)
SET IDENTITY_INSERT [dbo].[HOA_DON] OFF
GO
INSERT [dbo].[KHUYEN_MAI] ([MA_GIAM], [NGAY_BAT_DAU], [NGAY_KET_THUC]) VALUES (N'asgajdssc ', CAST(N'2022-01-11' AS Date), CAST(N'2023-05-11' AS Date))
INSERT [dbo].[KHUYEN_MAI] ([MA_GIAM], [NGAY_BAT_DAU], [NGAY_KET_THUC]) VALUES (N'GGKIMCUONG', CAST(N'2020-11-11' AS Date), CAST(N'2020-11-18' AS Date))
GO
INSERT [dbo].[LOAI] ([MA_LOAI], [TEN_LOAI]) VALUES (N'1         ', N'Nhẫn vàng ')
INSERT [dbo].[LOAI] ([MA_LOAI], [TEN_LOAI]) VALUES (N'2         ', N'Đồng hồ   ')
INSERT [dbo].[LOAI] ([MA_LOAI], [TEN_LOAI]) VALUES (N'3         ', N'Bông tai  ')
GO
INSERT [dbo].[TAI_KHOAN] ([MA_TAI_KHOAN], [TEN_TAI_KHOAN], [MAT_KHAU]) VALUES (N'09        ', N'gv                            ', N'123123123                     ')
INSERT [dbo].[TAI_KHOAN] ([MA_TAI_KHOAN], [TEN_TAI_KHOAN], [MAT_KHAU]) VALUES (N'0915760380', N'Uyen                          ', N'123123123                     ')
INSERT [dbo].[TAI_KHOAN] ([MA_TAI_KHOAN], [TEN_TAI_KHOAN], [MAT_KHAU]) VALUES (N'09222222  ', N'minh                          ', N'123123123                     ')
GO
INSERT [dbo].[TAI_KHOAN_DANG_NHAP] ([MA_DANG_NHAP], [MAT_KHAI], [TRANG_THAI]) VALUES (N'0123123412', N'9PAlxz    ', 1)
INSERT [dbo].[TAI_KHOAN_DANG_NHAP] ([MA_DANG_NHAP], [MAT_KHAI], [TRANG_THAI]) VALUES (N'0358822347', N'123       ', 1)
INSERT [dbo].[TAI_KHOAN_DANG_NHAP] ([MA_DANG_NHAP], [MAT_KHAI], [TRANG_THAI]) VALUES (N'0943526733', N'123       ', 1)
GO
ALTER TABLE [dbo].[CHI_TIET_DATHANG]  WITH CHECK ADD  CONSTRAINT [FK_CHI_TIET_DATHANG_CHI_TIET_SAN_PHAM] FOREIGN KEY([MA_SAN_PHAM])
REFERENCES [dbo].[CHI_TIET_SAN_PHAM] ([MA_SP])
GO
ALTER TABLE [dbo].[CHI_TIET_DATHANG] CHECK CONSTRAINT [FK_CHI_TIET_DATHANG_CHI_TIET_SAN_PHAM]
GO
ALTER TABLE [dbo].[CHI_TIET_DATHANG]  WITH CHECK ADD  CONSTRAINT [FK_CHI_TIET_DATHANG_DON_DATHANG] FOREIGN KEY([MA_DATHANG])
REFERENCES [dbo].[DON_DATHANG] ([MA_DH])
GO
ALTER TABLE [dbo].[CHI_TIET_DATHANG] CHECK CONSTRAINT [FK_CHI_TIET_DATHANG_DON_DATHANG]
GO
ALTER TABLE [dbo].[CHI_TIET_DICH_VU]  WITH CHECK ADD  CONSTRAINT [FK_CHI_TIET_DICH_VU_DICH_VU] FOREIGN KEY([MA_DICH_VU])
REFERENCES [dbo].[DICH_VU] ([MA_DICH_VU])
GO
ALTER TABLE [dbo].[CHI_TIET_DICH_VU] CHECK CONSTRAINT [FK_CHI_TIET_DICH_VU_DICH_VU]
GO
ALTER TABLE [dbo].[CHI_TIET_DICH_VU]  WITH CHECK ADD  CONSTRAINT [FK_CHI_TIET_DICH_VU_HOA_DON] FOREIGN KEY([MA_HD])
REFERENCES [dbo].[HOA_DON] ([MA_HD])
GO
ALTER TABLE [dbo].[CHI_TIET_DICH_VU] CHECK CONSTRAINT [FK_CHI_TIET_DICH_VU_HOA_DON]
GO
ALTER TABLE [dbo].[CHI_TIET_GIAN_GIA]  WITH CHECK ADD  CONSTRAINT [FK_CHI_TIET_GIAN_GIA_KHUYEN_MAI] FOREIGN KEY([MA_GIAM])
REFERENCES [dbo].[KHUYEN_MAI] ([MA_GIAM])
GO
ALTER TABLE [dbo].[CHI_TIET_GIAN_GIA] CHECK CONSTRAINT [FK_CHI_TIET_GIAN_GIA_KHUYEN_MAI]
GO
ALTER TABLE [dbo].[CHI_TIET_HOA_DON]  WITH CHECK ADD  CONSTRAINT [FK_CHI_TIET_HOA_DON_HOA_DON] FOREIGN KEY([MA_HOA_DON])
REFERENCES [dbo].[HOA_DON] ([MA_HD])
GO
ALTER TABLE [dbo].[CHI_TIET_HOA_DON] CHECK CONSTRAINT [FK_CHI_TIET_HOA_DON_HOA_DON]
GO
ALTER TABLE [dbo].[CHI_TIET_SAN_PHAM]  WITH CHECK ADD  CONSTRAINT [FK_CHI_TIET_SAN_PHAM_LOAI] FOREIGN KEY([MA_LOAI])
REFERENCES [dbo].[LOAI] ([MA_LOAI])
GO
ALTER TABLE [dbo].[CHI_TIET_SAN_PHAM] CHECK CONSTRAINT [FK_CHI_TIET_SAN_PHAM_LOAI]
GO
ALTER TABLE [dbo].[CHI_TIET_SIZE_SP]  WITH CHECK ADD  CONSTRAINT [FK_CHI_TIET_SIZE_SP_CHI_TIET_SAN_PHAM] FOREIGN KEY([MA_SP])
REFERENCES [dbo].[CHI_TIET_SAN_PHAM] ([MA_SP])
GO
ALTER TABLE [dbo].[CHI_TIET_SIZE_SP] CHECK CONSTRAINT [FK_CHI_TIET_SIZE_SP_CHI_TIET_SAN_PHAM]
GO
ALTER TABLE [dbo].[HOA_DON]  WITH CHECK ADD  CONSTRAINT [FK_HOA_DON_DON_DATHANG] FOREIGN KEY([MA_DH])
REFERENCES [dbo].[DON_DATHANG] ([MA_DH])
GO
ALTER TABLE [dbo].[HOA_DON] CHECK CONSTRAINT [FK_HOA_DON_DON_DATHANG]
GO
ALTER TABLE [dbo].[HOA_DON]  WITH CHECK ADD  CONSTRAINT [FK_HOA_DON_KHACH_HANG] FOREIGN KEY([MA_KHACH_HANG])
REFERENCES [dbo].[KHACH_HANG] ([SDT])
GO
ALTER TABLE [dbo].[HOA_DON] CHECK CONSTRAINT [FK_HOA_DON_KHACH_HANG]
GO
ALTER TABLE [dbo].[HOA_DON]  WITH CHECK ADD  CONSTRAINT [FK_HOA_DON_KHUYEN_MAI] FOREIGN KEY([MA_GIAM_GIA])
REFERENCES [dbo].[KHUYEN_MAI] ([MA_GIAM])
GO
ALTER TABLE [dbo].[HOA_DON] CHECK CONSTRAINT [FK_HOA_DON_KHUYEN_MAI]
GO
ALTER TABLE [dbo].[HOA_DON]  WITH CHECK ADD  CONSTRAINT [FK_HOA_DON_NHAN_VIEN] FOREIGN KEY([MA_NV])
REFERENCES [dbo].[NHAN_VIEN] ([CMND])
GO
ALTER TABLE [dbo].[HOA_DON] CHECK CONSTRAINT [FK_HOA_DON_NHAN_VIEN]
GO
ALTER TABLE [dbo].[TAI_KHOAN]  WITH CHECK ADD  CONSTRAINT [FK_TAI_KHOAN_KHACH_HANG] FOREIGN KEY([MA_TAI_KHOAN])
REFERENCES [dbo].[KHACH_HANG] ([SDT])
GO
ALTER TABLE [dbo].[TAI_KHOAN] CHECK CONSTRAINT [FK_TAI_KHOAN_KHACH_HANG]
GO
USE [master]
GO
